body {
  background-color: aquamarine;
  line-height: 1.25;
  font-family: "Times New Roman", Times, serif;
}
header {
  background-color: aqua;
}

h1 {
  color: black;
  text-align: center;
  margin: 10px;
}

nav {
  gap: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-around;
  color: black;
}
.button {
  background-color: red;
  padding: 2px 8px;
  border-radius: 75px;
  text-decoration-color: black;
}
p {
  background-color: aqua;
  margin: 20px;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
}
