body {
  background-color: aquamarine;
  line-height: 1.25;
  font-family: "Tiro Devanagari Marathi", serif;
  font-size: 18px;
}
header {
  background-color: aquamarine;
}

h1 {
  color: black;
  text-align: center;
  margin: 10px;
}

h2 {
  color: black;
  text-align: center;
  margin: 10px 10px 20px 10px;
}
h3 {
  color: black;
  text-align: center;
  margin: 10px 10px 20px 10px;
}

nav {
  gap: 3px;
  margin: 3px;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-around;
}
.button {
  background-color: rgb(184, 242, 177);
  padding: 2px 8px;
  border-radius: 30px;
  text-decoration-color: black;
  color: black;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 1);
}
p {
  background-color: aquamarine;
  margin: 20px;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
}
.footer1 {
  background-color: aquamarine;
  font-weight: 500;
  color: black;
}
